.footer__container {
    background: var(--black);
    background: linear-gradient(to right, var(--black), #0f0f0f);
    display: grid;
    align-content: center;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.footer__links {
    max-width: 1000px;
    width: 100%;
}

.footer__link--wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer__link--items {
    display: grid;
    align-content: baseline;
    margin: 16px;
    width: 160px;
}

.footer__link--items h2 {
    color: var(--white);
    font-size: 1.6rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.footer__link--items a {
    color: var(--white);
    text-transform: capitalize;
    transition: 0.3s ease-out;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #9b9895;
    transition: 0.3s ease-out;
}

@media screen and (max-width: 860px) {
    .footer__links {
        padding-top: 2rem;
    }

    .footer__link--wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {
    .footer__link--items {
        width: 100%;
        margin-bottom: 0.8rem;
    }

    .footer__link--items h2 {
        font-size: 1.24rem;
        margin-bottom: 1rem;
    }

    .footer__link--items a {
        margin-bottom: 0.4rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 340px) {
    .footer__link--items {
        width: 60%;
        margin-bottom: 0.8rem;
    }

    .footer__link--items h2 {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .footer__link--items a {
        margin-bottom: 0.7rem;
        font-size: 0.9rem;
        line-height: 20px;
        text-align: left;
      }
}