.hero {
    background: var(--black);
    background: linear-gradient(to right, #161616, var(--black));
    padding-top: 100px;
    padding-bottom: 150px;
}

.hero__container {
    display: grid;
    place-items: center;
    text-align: center;
    max-width: 1200px;
    height: 90%;
    padding: 30px;
    margin: 0 auto;
}

.hero__heading {
    color: var(--white);
    font-size: 6.25rem;
    margin-bottom: 24px;
    line-height: 108px;
}

.hero__heading span {
    background: #ee0970;
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0970);
    background: linear-gradient(to right, #ff6a00, #ee0970);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.hero__description {
    background: #da22ff;
    background: -webkit-linear-gradient(to right, #8f0eff, #da22ff);
    background: linear-gradient(to right, #8f0eff, #da22ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    font-size: 3.35rem;
    line-height: 75px;
}

.highlight {
    border-bottom: 4px solid #8f0eff;
}

@media screen and (max-width: 768px) {
    .hero {
        padding-top: 50px;
        padding-bottom: 90px;
    }

    .hero__heading {
        font-size: 4.25rem;
        margin-bottom: 20px;
        line-height: 75px;
    }

    .hero__description {
        font-size: 2.35rem;
        line-height: 55px;
    }
}